@model CodeFirstEntity_Skills_.Models.Classes.SKILLS
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Description</label>
        @Html.TextBoxFor(x=>x.Description,new { @class="form-control"})
        <label>Value</label>
        @Html.TextBoxFor(x => x.Value, new {@class="form-control"})
        <br />
        <input type="submit" class="btn btn-success" />
    </div>


</form>