@using CodeFirstEntity_Skills_.Models.Classes
@model List<SKILLS>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Skill</th>
        <th>Value</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Description</td>
            <td>@item.Value</td>
            <td><a class="btn btn-primary" href="/Admin/Update/@item.ID">Update</a></td>
            <td><a class="btn btn-danger" href="/Admin/DeleteSkill/@item.ID">Delete</a></td>
        </tr>
    }



</table>